/*ABOUT STYLE PAGE*/

/*Highlight current page:*/
#about_nav {
	border-bottom: solid medium white;
}

h2 a {
	color: black;
	text-decoration: none;
}

#sponsors {
	text-align: center;
	background-color: white;
	border: #D9D9D9 solid 1px;
	margin-bottom: 50px;
}

#sponsors img {
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 20px;
	padding: 2px;
}

/*************************************************************MEDIA LAYOUT 840px**************************************************************/
@media only screen and (max-width:840px){
#content{
	width: 600px;
}
#sponsors img {
	width: 100px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 15px;
	padding: 2px;
}
}

/*************************************************************MEDIA LAYOUT 510px**************************************************************/
@media only screen and (max-width:510px){
	#content{
	width: 350px;
}

#sponsors img {
	width: 75px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin: 10px;
	padding: 2px;
}

}