/*CONTACT FORM STYLE PAGE*/

/*Highlight current page:*/
#contact_nav{
	border-bottom: solid medium white;
}

#required{
    font-size: .75em;
    margin-bottom: 0;
    margin-left:10%;
}

#contact_form{
    width: 80%;
    margin-left:10%;
    margin-right:10%;
}

.error, .generic_error{
    text-decoration: underline;
    color: #A90916;
    text-align: center;
}

.error{
    font-size: 1em;
    margin-top: 0;
}

.success_message{
    text-align: center;
}
#personal_info, #questions{
    min-width: 700px;
}
#submit{
    width:100px;
    height: 100px;
}


/*******************MEDIA LAYOUT*******************/
@media only screen and (max-width:840px){
#contact_form{
    width: 80%;
    margin-left: 20px;
}
#required{
    font-size: .75em;
    margin-bottom: 0;
    margin-left:20px;
}

#personal_info, #questions{
    min-width: 500px;
}
#other_reason_for_contact{
	cols: 100;
}
}
