/*INDEX STYLE PAGE*/

/*Highlight current page:*/
#index_nav {
	border-bottom: solid medium white;
}

#intro {
	text-align: center;
}

#announcements {
	background-color: white;
	border: #D9D9D9 solid 1px;
}

.message h3 {
	color: #A90916;
	padding-left: 1%;
}

p {
	padding-left:1%;
}

#sponsors {
	text-align: center;
	background-color: white;
	border: #D9D9D9 solid 1px;
	margin-bottom: 50px;
	min-width:595px;
}

#sponsors img {
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 20px;
	padding: 2px;
}

/*************************************************************MEDIA LAYOUT 840px**************************************************************/
@media only screen and (max-width:840px){
h1{font-size: 20px;}
#intro{
	text-align: left;
	font-size: 25px;
}
#announcements{width: 600px;}
#sponsors img {
	width: 100px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 15px;
	padding: 2px;
}
}

/*************************************************************MEDIA LAYOUT 510px**************************************************************/
@media only screen and (max-width:510px){
h1{font-size: 15px;}
#intro{
	text-align: left;
	font-size: 20px;
	width: 400px;
}
#announcements, .message{width: 290px;}
#sponsors{
	min-width: 350px;
}
#sponsors img {
	width: 75px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin: 10px;
	padding: 2px;
}
}