/*SCHEDULE STYLE PAGE*/

/*Highlight current page:*/
#schedule_nav {
	border-bottom: solid medium white;
}

/*************************************************************MEDIA LAYOUT 840px**************************************************************/
@media only screen and (max-width:840px){

}

/*************************************************************MEDIA LAYOUT 510px**************************************************************/
@media only screen and (max-width:510px){
p{
	font-size: 80%;
	width: 290px;
}
}