/*GENERAL STYLE PAGE*/

/*START:-----------------------NAVIGATION MENU----------------------------*/
header{
	font-family: 'Droid Sans', sans-serif;
}

	/*Drop Down Menu Styling:*/
	nav{
		height: 35px;
		text-align: center;
	}
	nav ul ul{
		display: none;
	}
		nav ul li:hover > ul {
			display: block;
		}
	
	nav ul{
		list-style: none;
		position: relative;
		display: inline-table;
		margin-bottom: 0px;
		margin-top: 0px;
	}
		nav ul:after {
			content: "";
			clear: both;
			display: block;
		}
	
	nav ul li {
		float: left;
	}
			nav ul li:hover a {
				color: #fff;
			}
<<<<<<< HEAD
		
		nav ul li a {
			display: block;
			color: #757575;
			text-decoration: none;
		}
	
	nav ul ul {
		background: #A90916;
		border-radius: 0px;
		padding: 0;
		position: absolute;
		top: 100%;
	}
		nav ul ul li {
			float: none; 
			position: relative;
			padding: 5px 0px 5px 0px;
		}
			nav ul ul li a {
				color: #fff;
				padding: 5px 0px 5px 0px;
			}	
				nav ul ul li a:hover {
					color: #b2b2b2;
				}
	
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
	/*Drop Down Menu Styling - End:*/
=======

nav ul ul ul {
	position: absolute; left: 100%; top:0;
}
/*Drop Down Menu Styling - End:*/
<<<<<<< HEAD
>>>>>>> FETCH_HEAD
=======
>>>>>>> FETCH_HEAD

#headbar{
	z-index: 1;
	color: white;
	background-color: #A90916;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100px;
	min-width: 840px;
	position: fixed;
	text-align: right;
}
#linkbar {
	z-index: 1;
	background-color: #A90916;
	position: fixed;
	top: 100px;
	left: 0;
	right: 0;
	width: 100%;
	min-width: 840px;
	position: fixed;
}
#links{
	color: white;
	text-align: center;
	font-size: 150%;
	padding-bottom: 10px;
}
#links a {
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
}
#links a:hover{
	color:#b2b2b2;
	border-color: #b2b2b2;
}
#logo{
	width: 50%;
	float:left;
	text-align: left;
}
#logo_img{
	width:150px;
	height:80px;
	padding-top: 10px;
	padding-left: 20px;
}
#name{
	text-align: right;
	width: 50%;
	float:right;
}
#ACMICPC_name, #cornell_name{
	padding-right: 20px;
	margin:0px;
}
#ACMICPC_name{
	font-size: 40px;
	/*padding-top: 20px;*/
}
#ACMICPC_name_link{
	text-decoration: none;
	color:white;
}

/*END:-----------------------NAVIGATION MENU----------------------------*/


/*START:-----------------------BODY----------------------------*/
#content {
	z-index: -1;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 150px;
}

body {
	background-color: #FAFAFA;
	font-family: 'Noticia Text', serif;
	margin: 0px;
	padding: 0px;
}
	
#subNav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#subNav li {
	display: inline-block;
}

#subNav a{
	padding-left: 40px;
	padding-right: 40px;
    border-radius: 25px;
    background-color: #A90916;
    font-size: 20px;
    text-decoration: none;
	color: white;
}

#subNav a:hover {
	background-color: #bd393b;
}

/*Sub titles*/
.subTitle {
	clear: both;
	padding-top: 10px;
	padding-bottom: 30px;
	vertical-align: center;
	background-color: #EFEFEF;
	border-top: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 10px;
	margin-top: 10px;
}

.subTitle h2 {
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
}



/*************************************************************MEDIA LAYOUT**************************************************************/
@media only screen and (max-width:840px){
/*START:-----------------------NAVIGATION MENU----------------------------*/

#headbar{
	min-width: 550px;
}
#linkbar {
	min-width: 600px;
}
#links{
	font-size: 150%;
	text-align: left;
}
#links a {
	padding-left: 20px;
	padding-right: 20px;
}
ul{
	padding-left: 0px;
	text-align: center;
}
#logo{
	width: 50%;
	text-align: left;
}
#logo_img{
	width:150px;
	height:80px;
}
#name{
	text-align: right;
	width: 50%;
	float:right;
}
/*END:-----------------------NAVIGATION MENU----------------------------*/


#content{
	margin-left:20px;
	min-width: 600px;
}

#google_schedule{
	width: 550px;
}

}


