/*START:-----------------------NAVIGATION MENU----------------------------*/
	#headbar{
		z-index: 1;
		background-color: #FF0000;
		color: white;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100px;
		min-width: 800px;
		position: fixed;
		text-align: right;
	}
	#linkbar {
		z-index: 1;
		background-color: #FF0000;
		position: fixed;
		top: 100px;
		left: 0;
		right: 0;
		width: 100%;
		min-width: 800px;
		position: fixed;
		padding-bottom: 10px;
	}
	#links{
		color: white;
		text-align: center;
		font-family: times;
		font-size: 150%;
		overflow-x: hidden;
	}
	#links a {
		color: white;
		padding-left: 30px;
		padding-right: 30px;
	}
	#logo{
		width: 50%;
		float:left;
		text-align: left;
	}
	#logo_img{
		width:150px;
		height:80px;
		padding-top: 20px;
		padding-left: 20px;
	}
	#name{
		text-align: right;
		font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
		width: 50%;
		float:right;
	}
	#ACMICPC_name, #email{
		padding-right: 20px;
	}
	#ACMICPC_name{
		font-size: larger;
		padding-top:20px
	}
/*END:-----------------------NAVIGATION MENU----------------------------*/


/*START:-----------------------BODY----------------------------*/
	#content {
		z-index: -1;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 140px;
	}
	img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	body {
		background-color: #FFFFCC;
	}
	
#subNav {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#subNav li {
	display: inline-block;
}

#subNav a{
	padding-left: 40px;
	padding-right: 40px;
    border-radius: 25px;
    background-color: #812728;
    font-size: 20px;
    text-decoration: none;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

#subNav a:hover {
	background-color: #bd393b;
}