/*TEAM STYLE PAGE*/

/*Highlight current page:*/
#team_nav {
	border-bottom: solid medium white;
}

h2 a {
	color: black;
	text-decoration: none;
}

.member a {
	color: black;
}

#coach h1 {
	text-align: center;
	padding-top: 10px;
}

.coach {
	width: 48%;
}

.coach .details {
	text-align: left;
	padding: 10px;
}

.details {
	background-color: white;
	border: #D9D9D9 solid 1px;
}

#coach1 {
	float: left;
}

#coach2 {
	float: right;
}

.sec {
	clear: both;
	text-align: center;
}

.sec a {
	text-decoration: none;
}

.sec ul {
	list-style-type: none;
}

.sec li {
	text-align: left;
}

.sec h3 {
	text-decoration: none;
	color: #A90916;
	text-transform: uppercase;
	font-size: 30px;
}

#subNav {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#subNav ul {
	padding-left: 0px;
}

#subNav li {
	display: inline-block;
}

#subNav a{
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 25px;
	background-color: #A90916;
	font-size: 20px;
	text-decoration: none;
	color: white;
}

#subNav a:hover {
	background-color: #bd393b;
}

/*Sub titles*/
.subTitle {
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.subTitle h3 {
	text-align: left;
}

.group .contentArea {
	padding: 0px;
}

/*************************************************************MEDIA LAYOUT 840px**************************************************************/
@media only screen and (max-width:840px){

}

/*************************************************************MEDIA LAYOUT 510px**************************************************************/
@media only screen and (max-width:510px){
	#subNav a{
		font-size: 11px;
	}
	#coach1 {
		float: none;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}

	#coach2 {
		float: none;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
	}



}