/*ABOUT STYLE PAGE*/

/*Highlight current page:*/
#team_nav {
	border-bottom: solid medium white;
}

h2 a {
	color: black;
	text-decoration: none;
}

#members {
	z-index: -1;
}

#members ul {
	list-style-type: none;
}

.member a {
	color: black;
}

#coach h1 {
	text-align: center;
	padding-top: 10px;
}

.group {
}

#group1 {
	float: left;
}

#group2 {
	float: right;
}

.sec {
	padding-left: 10%;
	padding-right: 10%;
}

.sec h3 {
	text-decoration: underline;
}

.sec a {
	text-decoration: none;
}


/*************************************************************MEDIA LAYOUT 840px**************************************************************/
@media only screen and (max-width:840px){

}

/*************************************************************MEDIA LAYOUT 510px**************************************************************/
@media only screen and (max-width:510px){


}